<head>

    <style>
        form {
            margin: 0 auto;
            width: 250px;
        }
    </style>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div class="jumbotron">
                    <img class="d-block mx-auto mb-4" src="#" alt="log" width="72" height="72">
                    <br>

                    <form method="POST" action="#">
                        {%csrf_token%}
                        <input type="text" name="user-username" placeholder="Login Id" maxlength="15" style="width: 100%;">
                        <small>15자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</small>
                        <br><br>
                        <input type="password" name="user-password1" placeholder="Password" style="width: 100%;">
                        <small>비밀번호는 최소 8자 이상이어야 합니다.</small>
                        <br><br>
                        <input type="password" name="user-password2" placeholder="Confirm Password" style="width: 100%;">
                        <small>비밀번호는 전부 숫자로 할 수 없습니다.</small>
                        <br><br>
                        <textarea id="id_profile-intro" rows="3" name="profile-intro" placeholder="About Me" maxlength="40" style="width: 100%;"></textarea>
                        <small>40자 이하 문자만 가능합니다.</small>
                        <br><br>
                        <button type="submit">Sign Up</button>
                        <a href="{% url 'signin' %}">
                            Go back
                        </a>
                    </form>
                    




                </div>
            </div>
        </div>
    </div>

</body>

